services:
  backend:
    build:
      context: ./backend
    ports:
      - "3000:3000"
    container_name: backend-server

  nginx:
    build:
      context: ./nginx
    ports:
      - "80:80"
    depends_on:
      - backend
    container_name: nginx-server
